.node {
  stroke: #000;
  stroke-width: 1px;
}

.link {
  fill: none;
  stroke: #bbb;
  stroke-width: 2px;
}

svg {
  display: block;
  margin: auto;
  vertical-align: middle;
  text-align: center;
}

.tooltip-text {
  pointer-events: none;
}

/* Define text class to not accept mouse (or pointer?) events. */