{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}


<div id="time-preference">
<h4>How long do you have?</h4>
    <form>
        <input type="radio" name="time" value="5"><label> 5 minutes</label>
        <input type="radio" name="time" value="10"><label> 10 minutes</label>
        <input type="radio" name="time" value="15"><label> 15 minutes</label>
        <input type="radio" name="time" value="20"><label> 20 minutes</label>
    </form>
</div>

<!-- Video modal -->
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="videoModalLabel">We found a video for you!</h4>
      </div>
      <div class="modal-body">
      <h6>Title: <span id='videoName'></span></h6>
      <h6>Duration: <span id='videoDuration'></span> seconds</h6>
      <h6>Description: <span id='videoDesc'></span></h6>

        <a class='videoLink' href="" target="_blank"><img id='videoThumbnail' src=''/></a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a href="" type="button" target="_blank" class="btn btn-primary videoLink">Watch Video</a>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src='static/d3_viz.js'></script> 


{% endblock %}
